<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   				       http://www.springframework.org/schema/aop
						   http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <bean id="human" class="spring.aop.advisor.Human"/>

    <bean id="sleepHelperAspect" class="spring.aop.aspect.SleepHelperAspect"/>

    <aop:config>
        <aop:pointcut expression="execution(* *.sleep(..))" id="sleepPointcut"/>
        <aop:aspect ref="sleepHelperAspect">
            <!--前置通知-->
            <aop:before method="beforeSleep" pointcut-ref="sleepPointcut"/>
            <!--后置通知-->
            <aop:after method="afterSleep" pointcut-ref="sleepPointcut"/>
        </aop:aspect>
    </aop:config>


</beans>
