<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   				       http://www.springframework.org/schema/aop
						   http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <bean id="human" class="com.ariescat.metis.spring.aop.advisor.Human"/>

    <bean id="sleepHelperAspect" class="com.ariescat.metis.spring.aop.anno.SleepHelperAnno"/>

    <!--
        开启这个能自动扫描@Aspect等注解，有空看看解析原理 AspectJAutoProxyBeanDefinitionParser

        2020年5月19日补充：
        该配置主要是注册了AnnotationAwareAspectJAutoProxyCreator进去
        > 该类是 spring 扩展机制 BeanPostProcessor 接口的实现;
        > 这里使用的方法: Object postProcessAfterInitialization(Object bean, String beanName); //初始化对象后置处理

        proxy-target-class="true" 指定用Cglib代理

        @EnableAspectJAutoProxy 这个注解到配置类上，等同配置<aop:aspectj-autoproxy/>
    -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>
